.card-module {
	width: 100%;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
	transition: 400ms all ease-in-out;
}

.card-module:hover {
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.1);
}

.card-col {
	height: 100%;
}

div.container-inner {
	padding-top: 15px;
}

div.col-inner {
	padding-right: 0;
	padding-left: 0;
}

.list-unstyle {
  list-style: none;
  list-style-position: inside;
  border: 1px solid grey;
  height: 400px;
  max-height: 400px;
  position: relative;
  overflow: hidden;
  padding: 0 5px;
}

.list-unstyle .read-more { 
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 43px 0;
  background-image: linear-gradient(to bottom, transparent, #1b6bbb2e);
	
  /* "transparent" only works here because == rgba(0,0,0,0) */
  background-image: linear-gradient(to bottom, transparent, #4082c4);
}